.wrapper {
    max-height: calc(100vh - 10vh);
    position: relative;
}

.lp-header {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
}

.lp-header h1 {
    font-size: 5rem;
    color: #c8641e;
    margin-bottom: 2rem;
}

.lp-header p {
    text-align: center;
    color: #ece9f1;
    line-height: 2rem;
    font-size: 1.26rem;
}


.image-container img {
    width: 100%;
    height: 638px;
    object-fit: cover;
    pointer-events: none;
    user-select: none;
}