.user__container {
    position: relative;
    display: flex;
    align-items: center;
    background: #f7f4f0;
    flex-direction: column;
    padding-top: 2rem;
    height: calc(100vh - 10vh);
}

.user__details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    min-width: 450px;
}

.user__imageBox {
    width: 40%;
    margin-bottom: 2rem;
    border-radius: 50%;
    background-color: #d5e2eb;
    box-shadow: 0 0 12px #4b9225;
}

.user__details span {
    font-size: 1.2rem;
    font-weight: bold;
}

.user__details h3 {
    margin: 0.5rem 0 1rem 0;
    border: 1px solid #669d90;
    width: 100%;
    padding: 0.2rem 4rem;
    color: #7538e7;
    border-radius: 12px;
    font-size: 1.3rem;
}

.user__blogs {
    position: relative;
    height: 100vh;
    background: #f1ebe9;
}

.user__blogs-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top:1rem;
}

.user__blogs-header h3 {
    font-size: 3rem;
    color: #7538e7;
    margin-bottom: 2rem;
}

.user__blogs-header p {
    padding: 0 0.5rem;
    text-align: center;
    font-size: 1.2rem;
}

.blogs__user {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.blogs__user-detail {
    display: flex;
    flex-direction:column-reverse ;
    padding: 2rem;
    text-align: center;
}

.blogs__user-detail span {
    font-size: 1.1rem;
    font-weight: bold;
}


.blogs__user-detail button {
    padding: 0.4rem 0.8rem;
    cursor: pointer;
    margin-top: 12px;
    border-radius: 12px;
    background: #7519c6;
    color: white;
}

.blogs__user-image img {
    width: 300px;
    border-radius: 40px;
}

.blogs__user-detail p {
    margin: 8px;
    font-size: 1.2rem;
}