@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;700&display=swap');

body {
    font-family: 'Edu NSW ACT Foundation', cursive;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}